@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@{
    ViewBag.Title = "IndexAsync";
}
<script src="~/Scripts/vbscript/as.viberChat.js"></script>
<h2>IndexAsync</h2>

<button id="get_webhook">Set Webhoook</button> <br />
<button id="del_webhook">Delete Webhoook</button> <br />

<form method="post" id="send_message">
    <input type="text" id="msg" /><br>
    <input type="submit" value="send" />
</form>
<form method="post" id="send_broadcast">
    <input type="text" id="broadcast_text" /><br>
    <input type="submit" value="send broadcast" />
</form>

<button id="bot_test">Bot Test</button> <br />
<button id="sb_test">Subscribe Test</button> <br />
<div id="output_result">

</div>

<script>
    $('#get_webhook').click(function (event) {
        event.preventDefault();
        //alert($('#msg').val());
        var cont = {
            viberToken: "4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c",// "4acbce3d2567d680-2b47e9fc1afd1297-aace9bf974f27814",//"4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c", //
            botUri: "https://test1.web-automation.ru/Bot/Setup", // "https://yourchat.io/", //"https://test1.web-automation.ru/"
        };
        console.log('webhook');
        console.log(cont);
        as.viberChat.setWebhook(cont);
    });

    $('#del_webhook').click(function (event) {
        event.preventDefault();
        //alert($('#msg').val());
        var cont = {
            viberToken: "4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c",
        };

        as.viberChat.removeWebhook(cont);
    });


    $('#send_message').submit(function (event) {
        event.preventDefault();
        //alert($('#msg').val());
        var cont = {
            viberToken: "4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c", // "4acbce3d2567d680-2b47e9fc1afd1297-aace9bf974f27814",//"4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c",
            userID: "oW29KusKSftG3QEmHlcWoQ==",
            msg: $('#msg').val(),
            sender: {
                name: 'Ковалев',
                avatar: ''
            },
        };
        console.log('msg');
        console.log(cont);
        as.viberChat.sendMessage(cont);
    });

    $('#send_broadcast').submit(function (event) {
        event.preventDefault();
        //alert($('#broadcast_text').val());
        var cont1 = {
            viberToken: '4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c',
            msg: $('#broadcast_text').val(),
            sender: {
                name: 'Ковалев',
                avatar: ''
            },
        };

        console.log('broad');
        console.log(cont1);
        as.viberChat.sendBroadcastMessage(cont1);
    });

    $('#bot_test').click(function (event) {
        event.preventDefault();
        //alert($('#msg').val());
        var cont2 = {
            viberToken: "4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c",//"4addaa2c4da7dee0-1e71c2088f77e61c-2ffe40d0ad8cc31c", //
            botUri:  "https://test1.web-automation.ru/Bot/Setup",
            event: "webhook"
        };
        console.log('webhook');

        console.log(cont2);
        as.viberChat.testBot(cont2);
    });

    $('#sb_test').click(function (event) {
        event.preventDefault();
        //alert($('#msg').val());
        var cont = {
            event: "subscribed",
            timestamp: 1457764197627,
            user: {
                id: "01234567890A=",
                name: "John McClane",
                avatar: "",
                country: "RU",
                language: "en",
                api_version: 1
            },
            message_token: 4912661846655238145
        };
        var jcont = JSON.stringify(cont);
        console.log('subscribe');
        console.log(jcont);
        as.viberChat.sbTest(cont);
    });
</script>

